.nt-chart {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nt-chart ::deep .nt-chart-buttons {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.nt-chart ::deep .nt-chart-canvas-host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.nt-chart ::deep .nt-chart-canvas-host--with-buttons {
  padding-bottom: 32px;
}
.nt-chart ::deep canvas {
  display: block;
  width: 100%;
  height: 100%;
}
