.nt-chart {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nt-chart ::deep .nt-chart-buttons {
  position: absolute;
  bottom: 0;
  right: 8px;
}
.nt-chart ::deep canvas {
  display: block;
  width: 100%;
  height: 100%;
}
